<!doctype html>
{% extends 'pearlsafaris/landingpage.html' %}
{%block body_block%}
{% load static %}
    <div class ='container'> 
        <h1> PEARL SAFARIS UGANDA</h1>
        <h2>{{msg}}</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos maiores ea quaerat dolore nihil explicabo. Corrupti nesciunt dicta distinctio aperiam placeat, assumenda nisi sunt delectus quisquam suscipit quis rerum reprehenderit!</p>
        <h1>Venture Uganda with us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sint dolore illo hic rem laboriosam, repellendus labore! Obcaecati deleniti laboriosam natus enim ipsam, eum in, recusandae inventore praesentium, tempora officia!</p>
        <h1>Services offered</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque illo at voluptates vitae molestias vero quae. Exercitationem nihil impedit possimus neque, culpa eum molestiae modi ipsam eius, quae soluta placeat.</p>
    </div>
    <img src="{%static 'images/technology.jpg'%}" alt=""><br><br>
    <a href="{%url 'pearl_safaris:users'%}"><button class ='btn btn-primary' >View Users</button></a>
{% endblock %} 