<!DOCTYPE html>
{% extends 'pearlsafaris/landingpage.html' %}
{% load static %}
{%block body_block %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Create account </h1>
          <p class="col-md-8 fs-4">To maximise resources</p>
         </div>
      </div>
      <div class="container">
        <form action="" method="POST">
            {{new_user.as_p}}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
{% endblock %}